<div class="dialog-container">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  
    <h1 mat-dialog-title>Edit address</h1>
    <div mat-dialog-content>
       
        <div>
            <mat-form-field class="mr-16 wd-100" appearance="outline">
                <mat-label>Address: Street + Number</mat-label>
                <input [disabled]="loading" [(ngModel)]= "user.street" matInput>
                <!--<mat-hint>Please enter a date</mat-hint>-->
            </mat-form-field>
            <mat-form-field class="mr-16" appearance="outline">
                <mat-label>Zip code</mat-label>
                <input [disabled]="loading" [(ngModel)]= "user.zipCode" matInput>
                <!--<mat-hint>Please enter a date</mat-hint>-->
            </mat-form-field>
            <mat-form-field class="mr-16" appearance="outline">
                <mat-label>City</mat-label>
                <input [disabled]="loading" [(ngModel)]= "user.city" matInput>
                <!--<mat-hint>Please enter a date</mat-hint>-->
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="dialogRef.close();">Cancel</button>
      <button mat-button (click)="saveUser()" cdkFocusInitial>Save</button>
    </div>
  </div>
  