<mat-card class="mt-32" class="order-detail-header">

    <button mat-icon-button class="vert-menu" [matMenuTriggerFor]="orderMenu">
        <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #orderMenu="matMenu">
        <button mat-menu-item (click)="editOrderMenu()">Edit</button>
        <button mat-menu-item class="delete" (click)="deleteOrder()">Delete Order</button>
    </mat-menu>

    <div class="order-details">
        <table class="order-table">
            <tr>
                <th>Order Number</th>
                <th>Date</th>
                <th>Customer</th>
                <th>Total</th>
            </tr>
            <tr>
                <td>{{ this.activOrder.number }}</td>
                <td>{{ this.formattedDate }}</td>
                <td>{{ this.activOrder.customer.firstName }} {{ this.activOrder.customer.lastName }}</td>
                <td>{{ this.activOrder.total.toFixed(2).replace(".",",") }} €</td>
            </tr>
        </table>
        <app-catalog *ngFor="let product of products; let i = index" [numberProduct]="activOrder.quantity[i]"
            [product]="product" [edit]="false">
        </app-catalog>
    </div>

    <div>{{ order.number }}</div>
    <div class="order-table">


    </div>

</mat-card>