.order-detail-header {
    display: flex;
    align-items: center;
    width: 100%;
}

.vert-menu {
    position: absolute;
    top:0;
    right:0;
}

.order-table {
    width: 100%;
    border-collapse: collapse;
    tr {
        border-bottom: 1px solid rgba(0,0,0,0.4);
        cursor: pointer;
        &:first-child {
            cursor: unset;
            &:hover {
                background-color: unset;
            }
        }
        &:last-child {
            border-bottom: 0;
        }

        td {
            height: 48px;
            &:first-child {
                padding-left: 16px;
            }
        }
        th {
            &:first-child {
                padding-left: 16px;
            }
        }
        
    }
    
    th {
        color: grey;
        text-align: start;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 30px;
        padding-right: 30px;
    }

    td {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.delete {
    color: red;
}

.div-back-button {
    text-align: center;
}

.back-button {
    position: absolute;
    right: 56px;
    bottom: 56px;
    background-color: rgb(183, 237, 235);
    height: 60px;
    width: 60px;
    color: grey;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    line-height: 50px;
    text-align: center;
}
