<mat-card class="mt-32" class="order-detail-header">

    <button mat-icon-button class="vert-menu" [matMenuTriggerFor]="orderMenu">
        <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #orderMenu="matMenu">
        <button mat-menu-item (click)="editOrderMenu()">Edit</button>
        <button mat-menu-item class="delete" (click)="deleteOrder()">Delete Order</button>
    </mat-menu>

    <div class="order-details">
        <table class="order-table">
            <tr>
                <th>Order Number</th>
                <th>Date</th>
                <th>Customer</th>
                <th>Total</th>
            </tr>
            <tr>
                <td>{{ this.order.number }}</td>
                <td>{{ this.order.formattedDate }}</td>
                <td>{{ this.order.customer.firstName }} {{ this.order.customer.lastName }}</td>
                <td>{{ this.order.total.toFixed(2).replace(".",",") }} €</td>
            </tr>
        </table>
        <app-catalog *ngFor="let product of products; let i = index" [numberProduct]="order.quantity[i]" [amountProduct]="order.amount[i]"
            [product]="product" [edit]="false">
        </app-catalog>
    </div>


</mat-card>

<div class="div-back-button">
    <button onclick="window.history.go(-1); return false;" class="back-button" mat-fab color="primary" matTooltip="Back">
        <mat-icon>arrow_back</mat-icon>
    </button>
</div>