<h1>Orders</h1>
<mat-card>
    <table class="order-table">
      <tr>
        <th>Number</th>
        <th>Date</th>
        <th>Customer</th>
        <th>Amount</th>
      </tr>
      <tr *ngFor="let order of allOrders" [routerLink]="['/order/'] + order.customId">
        <td>{{ order.number }}</td>
        <td>{{ formattedDate }}</td>
        <td>{{ order.customer.firstName }} {{ order.customer.lastName }}</td>
        <td>{{ order.total.toFixed(2).replace(".",",") }} €</td>
      </tr>
    </table>
  </mat-card>
  <div class="div-add-order-button">
    <button (click)="openDialog()" class="add-order-button" mat-fab color="primary" matTooltip="Add order">
        <mat-icon>add</mat-icon>
      </button>
  </div>


