
.chart-container {
    display: block;
    width: 400px;
    height: 230px;
}

mat-card-title {
    color: grey;
    font-size: 16px;
    text-align: center;
    align-items: center;
}

mat-card {
    padding: 10px;
    margin: 10px;
}