.mat-drawer-container {
    height: 100vh;
    background-color: rgb(145, 247, 221);
}

.menu-icon {
    cursor: pointer;
}

.sidenav {
    width: 250px;
    background-color: rgb(198, 239, 237);
    color: grey;
}

.logo-container {
    padding: 10px;
    height: 70px;
    width: 100px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-left:400px;

    img {
        width: 50px;
        height: 50px;
    }

    span {
        font-size: 24px;
        font-style: italic;
        color: rgb(65,211,175);
        
    }
}


@media(max-width: 1190px) {
    .logo-container {
        margin-left:300px;
    }
}

@media(max-width: 900px) {
    .logo-container {
        margin-left:200px;
    }
}

mat-toolbar, mat-toolbar-row {
    height: 85px;
    color: grey;
    border-bottom: 1px solid rgba(0,0,0,0.04);
}

mat-toolbar {
    background-color: rgb(183, 237, 235);
}

.title {
    border-bottom: 1px solid rgba(0,0,0,0.04);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    margin-left: 10px;
    font-size: 14px;

    span::first-letter {
        font-weight: bold;
        font-size: 16px;
    }
}

.menu-items{
    list-style-type: none;
    padding: 0px;
    margin-left: 20px;

    li {
        padding-left: 16px;
        padding-right: 16px;
        margin-top: 24px;
        height: 48px;
        display: flex;
        align-items: center;
        cursor: pointer;

        mat-icon {
            margin-right: 16px;
        }

        &:hover {
            background-color: rgba(0,0,0,0.04);
        }

        &:focus {
            outline: none;
        }
    }
}

.router-container {
    padding-left: 56px;
    padding-right: 56px;
    padding-top: 16px;
}


@media(max-width: 1190px) {
    .router-container {
        padding-left: 16px;
        padding-right: 16px;
    }
}
