<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer #drawer class="sidenav" [opened]="true" mode="side">
    <div class="title">
      <span>Customer</span>
      <span>Relationship</span>
      <span>Management</span>
    </div>

    <ul class="menu-items">
      <li routerLink="/" routerLinkActive="router-link-active">
        <img src="assets/img/dashboard.png" class="menu-img">
        <span class="menu-title">Dashboard</span>
      </li>
      <li routerLink="/user" routerLinkActive="router-link-active">
        <img src="assets/img/customers.png" class="menu-img">
        <span class="menu-title">Customers</span>
      </li>
      <li routerLink="/order" routerLinkActive="router-link-active">
        <img src="assets/img/orders.png" class="menu-img">
        <span class="menu-title">Orders</span>
      </li>
      <li routerLink="/product" routerLinkActive="router-link-active">
        <img src="assets/img/products.png" class="menu-img">
        <span class="menu-title">Products</span>
      </li>
    </ul>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar>
      <mat-toolbar-row>
        <img src="assets/img/menu.png" class="menu-icon" (click)="drawer.toggle()">
        <div class="logo-container">
          <img src="assets/img/logo.png">
          <span>Organics</span>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="router-container" id="router-container">
      <router-outlet></router-outlet>
    </div>
  </div>

</mat-drawer-container>