<h1>Products</h1>
<mat-card>

  <div class="products">
  </div>
    <table class="product-table">
      <tr>
        <th>Image</th>
        <th>Item</th>
        <th>Price/kg</th>
      </tr>
      <tr *ngFor="let product of products">
        <td><div><img src="../assets/img/{{ product.name }}.jpg" alt=""></div></td>
        <td>{{ product.name }}</td>
        <td>{{ product.price.toFixed(2).replace(".",",") }} €</td>
       
      </tr>
    </table>
  </mat-card>
  <div class="div-add-product-button">
    <button (click)="openDialog()" class="add-product-button" mat-fab color="primary" matTooltip="Add product">
        <mat-icon>add</mat-icon>
      </button>
  </div>



