<div class="dialog-container">
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

  <h1 mat-dialog-title>Edit order</h1>
  <div mat-dialog-content>

    <div class="products">
      <app-catalog *ngFor="let product of products; let i = index" 
      (numberChange)="changeNumber($event)" 
      (amountChange)="changeAmount($event)"
      [product]="product" 
      [productPosition]="i" 
      [numberProduct]="quantity[i]"
      [amountProduct]="amount[i]"
      [edit]="true">
      </app-catalog>
    </div>

    <div class="total">
      <span>Total: {{total.toFixed(2).replace(".",",")}}€</span>
    </div>
      <div mat-dialog-actions>
        <button mat-button (click)="dialogRef.close();" [disabled]="loading">Cancel</button>
        <button mat-button (click)="saveOrderChange()" [disabled]="loading" cdkFocusInitial>Save</button>
      </div>
    </div>

