<h1>Dashboard</h1>

<!--
  To Do
include Product in Orders
include Quantity in Orders
change Quantity to Storage in Products
Back-btn for Orders and Products

Last order in Customer
Storage in Products reduce when Quantity in Order increase


  Statistics
Customers by Region/City
Sales Growth (by month: sum of amount by orders date)
Sales by Customer
Sales by Region
Orders Paid %
Product % in Total Sales






<div class="charts">
  
  <div class="chart-container">
    <dx-pie-chart
      id="pie"
      title="Team Composition"
      palette="bright"
      [dataSource]="jobRoles"

    >
      <dxi-series argumentField="jobRole" valueField="amount">
        <dxo-label [visible]="true">
          <dxo-connector [visible]="true" [width]="1"></dxo-connector>
        </dxo-label>
      </dxi-series>
      <dxo-size></dxo-size>
      <dxo-export [enabled]="true"></dxo-export>
    </dx-pie-chart>
  </div>

  <div class="chart-container">
    <dx-chart id="chart" [dataSource]="citys">
      <dxi-series
        argumentField="city"
        valueField="amount"
        name="Team Citys"
        type="bar"
        color="#25be9b"
      >
      </dxi-series>
    </dx-chart>
  </div>
</div>

.charts{
  display: flex;
  justify-content: center;
}

dx-pie-chart{
  width: 400px;
}

dx-chart{
  margin-left: 30px;
  width: 400px;
  height: 400px;
}

@media screen and (max-width: 900px){
  dx-pie-chart{
      width: 300px;
  }
  
  dx-chart{
      margin-left: 30px;
      height: 300px;
  }
}

@media screen and (max-width: 700px){
  .charts{
      display: flex;
      flex-direction: column;
      align-items: center;
  }
}

@media screen and (max-width: 450px){
  dx-pie-chart{
      width: 230px;
  }
  
  dx-chart{
      margin-left: 30px;
      width: 230px;
      height: 230px;
  }
}

import { Component, OnInit } from '@angular/core';
import { collection, collectionData, Firestore } from '@angular/fire/firestore';
import { Observable } from 'rxjs';
import { DataService } from '../data.service';

@Component({
  selector: 'app-dashboard',
  templateUrl: './dashboard.component.html',
  styleUrls: ['./dashboard.component.scss']
})
export class DashboardComponent implements OnInit {

  allUser:any = [];
  
  jobRoles!: { jobRole: string; amount: number; }[];
  citys!: { city: string; amount: number; }[];

  users$!:Observable<any>;

  constructor(private firestore: Firestore, service: DataService) { 
    const coll = collection(this.firestore, 'Users');
    this.users$ = collectionData(coll);

    this.users$.subscribe((usersFromServer:any)=>{
      this.allUser = usersFromServer;
      this.filterJobRoles(service);
      this.filterCitys(service);  
    })
  }

  ngOnInit(): void {
    
  }

  filterJobRoles(service: { jobRoles: { jobRole: string; amount: number; }[]; }){
    let filterSalesManager = this.allUser.filter((d: { jobRole: string; }) => 
          d.jobRole == 'Sales Manager'
        )
      service.jobRoles[0].amount = filterSalesManager.length;
      this.jobRoles = service.jobRoles;
      
      let filterQualiCall = this.allUser.filter((d: { jobRole: string; }) => 
          d.jobRole == 'Quali Call'
        )
      service.jobRoles[1].amount = filterQualiCall.length;
      this.jobRoles = service.jobRoles;

      let filterCoach = this.allUser.filter((d: { jobRole: string; }) => 
          d.jobRole == 'Coach'
        )
      service.jobRoles[2].amount = filterCoach.length;
      this.jobRoles = service.jobRoles;

      let filterTechnician = this.allUser.filter((d: { jobRole: string; }) => 
          d.jobRole == 'Technician'
        )
      service.jobRoles[3].amount = filterTechnician.length;
      this.jobRoles = service.jobRoles;

      let filterGuest = this.allUser.filter((d: { jobRole: string; }) => 
          d.jobRole == 'Guest'
        )
      service.jobRoles[4].amount = filterGuest.length;
      this.jobRoles = service.jobRoles;
  }

  filterCitys(service: DataService){
    let unfilteredCitys: string[] = [];

      for (let number = 0; number < this.allUser.length; number++) {
        const user = this.allUser[number];
        unfilteredCitys.push(user.city)
      }

      let filteredCitys: string[] = unfilteredCitys.filter((x, i) => unfilteredCitys.indexOf(x) === i);
      console.log('second Step', filteredCitys);
      
      for (let number = 0; number < filteredCitys.length; number++) {
        const city = filteredCitys[number];
        let city3 = unfilteredCitys.filter( a => 
          a == city
        )
        service.cityArray.push({'city': city,'amount': city3.length});
      }
      this.citys = service.cityArray;
  }
}



import { Injectable } from '@angular/core';

@Injectable({
  providedIn: 'root'
})
export class DataService {

  constructor() { }

  jobRoles = [{
    jobRole: 'Sales Manager',
    amount: 0,
  }, {
    jobRole: 'Quali Call',
    amount: 0,
  }, {
    jobRole: 'Coach',
    amount: 0,
  }, {
    jobRole: 'Technician',
    amount: 0,
  }, {
    jobRole: 'Guest',
    amount: 0,
  }];

  cityArray:any[] = []; 
}

-->
