/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; color: gray; font-family: Roboto, "Helvetica Neue", sans-serif; }

h1 {
    color: grey;
}

.mr-16 {
    margin-right: 16px;
}

.wd-100 {
    width: 100%
}


.dialog-container {
    position: relative;
    margin: 0;
    padding-bottom: 0;

    mat-progress-bar {
        position: absolute;
        top: -24px;
        right: -24px;
        left: -24px;
        width: calc(100% + 48px);
    }
}

/* box sizing */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */

* {
    margin: 0;
}
